/*Background and overall font*/

body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

/*Navbar styling*/

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color:#ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

/*Header Styling*/

#headingGroup h1 {
    font-size: 4rem;
    font-weight: 100;
}

#headingGroup span {
    color:#ea1c2c
}

/*responsive header media query for smaller screens*/
@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 3rem;
        font-weight: 100;
    }
}

/*First Section*/
#sectionGroup1 h2 {
    font-size:2.5rem;
    font-weight: 100;
    color:#ea1c2c;
}

#sectionGroup1 p {
    color:#f1a7c6;
    line-height: 2rem;
}