body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color:#ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

#headingGroup h1 {
    font-size: 4rem;
    font-weight: 100;
}

#headingGroup span {
    color:#ea1c2c
}

/*responsive header for smaller screens*/
@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 3rem;
        font-weight: 100;
    }
}